.cabecalho {
    color: var(--branco);

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;

    position: absolute;
    background-color:var(--borda-cabecalho-mobile);
}

.cabecalhoLogo {
    margin-bottom: 1rem;
}

.cabecalhoNavegacao {
    text-align: center;
}

.cabecalhoLink {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}

.cabecalhoLink a:hover{
    text-decoration:underline ;
}

.cabecalhoLink a:active{
    color: var(--planos);
}


